@import 'colors';
@import 'vars';
@import 'shortcodes';

html, body {
  background-color: $background;

  color: $black;

  font-family: 'Inter', sans-serif;
  font-weight: 400;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 600;

  line-height: 1;

  margin-top: 30px;

  color: $title;

  a {
    color: black;
  }

  a:hover {
    color: $accent;

    text-decoration: none;
  }

}

h1 {
  font-size: 2.0rem;
}

h2 {
  font-size: 1.7rem;
}

h3 {
  font-size: 1.5rem;
}

h4 {
  font-size: 1.3rem;
}

h5 {
  font-size: 1.2rem;
}

h6 {
  font-size: 1.0rem;
}

pre {
  border-radius: 5px;

  margin-top: 10px;

  padding: 10px $default_padding;
}

.container {
  max-width: 900px !important;
}

p {
  padding-top: 10px;

  margin-bottom: 0;
}

article {
  box-sizing: unset !important;

  h5 {
    margin-top: 0;

    white-space: normal;
  }
}

.main-page__article-title {
  border-bottom: 3px solid lightgray;

  display: inline !important;

  word-break: break-word;
}

table {
  tr {
    border-bottom: 1px solid lightgray;
  }

  th, td {
    padding: 10px;
  }
}

details {
  margin-bottom: 5px;
}

.btn-tiny {
  padding: 0.20rem .5rem;
  font-size: .845rem;
  line-height: 1.5;
  border-radius: .2rem;
}

.filename {
  color: $accent;

  font-size: 15px;
}

ul {
  margin-top: 15px;
}

ol {
  margin-top: 5px;
  margin-bottom: 30px;
}

li {
  margin-bottom: 5px;
}

a {
  color: $accent;
}

a:hover {
  color: $text;
}

blockquote {
  margin-top: 20px;
  margin-left: 1px;

  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 10px;

  border-left: 6px solid $accent;

  background-color: #fdfdfd;

  color: $dark;
}

#logo {
  font-size: 1.2em;

  font-weight: 700;

  line-height: 1;

  h1, h2, h3 {
    margin-top: 0;
  }

  a, a:visited {
    color: #8a8a8a;

    text-decoration: none;
  }

  a:hover {
    color: $accent;

    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
  }

  .logo__icon {
    font-size: 16px;
  }
}

footer {
  text-align: center;

  a {
    color: lightgray;
  }
}

.btn-sm {
  font-size: 0.83rem !important;
}

.text-small {
  font-size: $text-small;
}

.text-tiny {
  font-size: $text-tiny;
}

.text-tiniest {
  font-size: $text-tiniest;
}

.blog-title {
  font-size: 2.3em;
}

.frontmatter {
  color: #999a9a;

  font-size: 14px;
}

.page-title {
  font-size: 2.3em;

  margin-bottom: 10px;
}

.article_time {
  text-transform: uppercase;

  font-size: 0.83em;

  color: #a0a0a0;

  font-weight: bold;
}

.vertical-align {
  margin: auto 0;
}

.main-page__top-menu__item {
  color: #a0a0a0;
}

details {
  margin-top: 15px;
}

summary {
  outline: none;
}
