{% extends "base.html" %}
{% import "macros.html" as macros %}

{% block meta_tag_description %}
<meta name="description" content="Все доступные тэги">
{% endblock meta_tag_description %}

{% block open_graph_description %}
<meta property="og:description" content="Все доступные тэги"/>
{% endblock open_graph_description %}

{% block content %}
<nav id="overlord" class="overlord">
  {{ macros::mini_logo(classes="", title=config.title, siteurl=config.base_url, logourl=config.extra.profile) }}
</nav>

<section class="container">

    <h3 class="text-dark">Тэги</h3>
    <div class="text-secondary text-small font-weight-bold mb-4">Все доступные тэги</div>

    {% set tags = get_taxonomy(kind="tags") %}
    {% set items = tags.items %}

    <ul>
        {% for tag in items %}
            <li class="p-0 m-0">
                <h6 class="mt-0 mb-2">
                    <a href="/tags/{{ tag.name }}">{{ tag.name }}</a>
                </h6>
            </li>
        {% endfor %}
    </ul>

</section>
{% endblock content %}
