{% extends "base.html" %}
{% import "macros.html" as macros %}

{% block page_title %}
<title>Список тэгов | {{ config.title }}</title>
{% endblock page_title %}

{% block meta_tag_description %}
<meta name="Description" content="Все доступные тэги">
{% endblock meta_tag_description %}

{% block open_graph_description %}
<meta property="og:description" content="Все доступные тэги"/>
{% endblock open_graph_description %}

{% block content %}
<section class="container">
    {{ macros::top_menu(classes="header_list", bsize="small", extra=config.extra, siteurl=config.base_url,rss=true) }}

    <h3 class="text-dark">Все тэги блога</h3>

    {% set tags = get_taxonomy(kind="tags") %}
    {% set items = tags.items %}

    <ul>
        {% for tag in items %}
            <li class="p-0 m-0">
                <h6 class="mt-0 mb-2">
                    <a href="/tags/{{ tag.name }}"
                       title="Перейти к списку постов с тэгом '{{tag.name}}'">{{ tag.name }}</a>
                </h6>
            </li>
        {% endfor %}
    </ul>

</section>
{% endblock content %}
