{% extends "base.html" %}
{% import "macros.html" as macros %}

{% block page_title %}
<title>Список статей для категории {{ term.name }} | {{ config.title }}</title>
{% endblock page_title %}

{% block meta_tag_description %}
<meta name="description" content="Все статьи из категории {{ term.name }}">
{% endblock meta_tag_description %}

{% block open_graph_description %}
<meta property="og:description" content="Все статьи из категории {{ term.name }}"/>
{% endblock open_graph_description %}

{% block content %}
<nav id="overlord" class="overlord">
  {{ macros::mini_logo(classes="", title=config.title, siteurl=config.base_url, logourl=config.extra.profile) }}
</nav>

<section class="container">
    <h3 class="text-dark mb-4">Все материалы с из категории <span class="text-primary">{{ term.name }}</span></h3>

    {% set categories = get_taxonomy(kind="categories") %}
    {% set items = categories.items | filter(attribute="name", value=term.name) %}

    <ul>
        {% for page in items[0].pages %}
            <li>
                <h5>
                    <a href="/{{ page.slug }}">{{ page.title }}</a>
                </h5>

                <div class="text-secondary text-small">
                    {{ page.date | date(format="%B %d, %Y") }}
                </div>
            </li>
        {% endfor %}
    </ul>
</section>
{% endblock content %}
