{% extends "base.html" %}

{% import "macros.html" as macros %}

{% block page_title %}
<title>О блоге | {{ config.title }}</title>
{% endblock page_title %}

{% block meta_tag_description %}
<meta name="Description" content="{{ page.description }}">
{% endblock meta_tag_description %}

{% block open_graph_description %}
<meta property="og:description" content="{{ page.description }}"/>
{% endblock open_graph_description %}

{% block content %}
<section class="container">
    {{ macros::top_menu(classes="header_list", bsize="small", extra=config.extra, siteurl=config.base_url,rss=true) }}

    {% block post %}
    <h2 class="page-title mt-5">
        <a href="/" title="Вернуться на главную">&lsaquo;</a> {{ page.title }}
    </h2>

    {{ page.content | safe }}
    {% endblock post %}
</section>
{% endblock content %}
