{% extends "base.html" %}

{% import "macros.html" as macros %}

{% block page_title %}
<title>О блоге | {{ config.title }}</title>
{% endblock page_title %}

{% block meta_tag_description %}
<meta name="Description" content="{{ page.description }}">
{% endblock meta_tag_description %}

{% block open_graph_description %}
<meta property="og:description" content="{{ page.description }}"/>
{% endblock open_graph_description %}

{% block content %}
<nav id="overlord" class="overlord">
    {{ macros::mini_logo(classes="", title=config.title, siteurl=config.base_url) }}
</nav>

<section class="container">
    {% block post %}
    <h1 class="page-title mt-0">
        {{ page.title }}
    </h1>

    {{ page.content | safe }}
    {% endblock post %}
</section>
{% endblock content %}
