{% extends "base.html" %}
{% import "macros.html" as macros %}

{% block content %}
<div class="container">

  <header class="pt-5 pb-5 mb-2 text-center">
    {% block header %}

    <h1 class="blog-title text-primary mb-4">{{config.title}}</h1>
    <h5 class="text-secondary mb-4">{{config.description | markdown(inline=true) | safe }}</h5>

    {{ macros::social_list(classes="header_list", bsize="small", extra=config.extra, siteurl=config.base_url,
    rss=config.generate_rss) }}
    {% endblock header %}
  </header>

  <section>
    {% for page in paginator.pages %}
    <article class="mb-5">
      <h2 class="mb-1">
        <a href="{{page.permalink}}">{{page.title}}</a>
      </h2>
      {% if page.date %}
      {{ macros::frontmatter(classes="", date=page.date, word_count=page.word_count, read_time=page.reading_time) }}
      {% else %}
      {{ macros::frontmatter(classes="", date="", word_count=page.word_count, read_time=page.reading_time) }}
      {% endif %}
      {% if page.summary %}
      <p>{{ page.summary | safe }}</p>
      {% else %}
      <p>{{ page.content | striptags | truncate | safe }}</p>
      {% endif %}
      <a href="{{page.permalink}}" class="btn-sm btn btn-light">Читать →</a>
    </article>
    {% endfor %}
  </section>
</div>
{% endblock content %}

{% block pagination %}
<nav class="container text-center mb-5">
  {% if paginator.previous %}
    <span class="prev">
      <a rel="prev" class="btn btn-sm btn-light" href="{{paginator.previous}}" title="Предыдущая страница">← назад</a>
    </span>
  {% endif %}

  {% if paginator.next %}
  <span class="next">
    <a rel="next" title="Следующая страница"
       href="{{paginator.next}}" class="btn btn-sm btn-light">вперед →</a>
  </span>
  {% endif %}
</nav>
{% endblock pagination %}
