{% macro mini_logo(classes, title, siteurl) %}
<div id="logo" class="p-4">
    <a href="{{siteurl}}" title="Вернуться на главную страницу">
        <i class="logo__icon fas fa-chevron-left mr-1"></i> {{title}}
    </a>
</div>
{% endmacro mini_logo %}

{% macro social_list(classes, bsize, extra, rss, siteurl) %}
<div>
    {% if extra.website %}

        <div class="d-inline-block text-secondary">
            <a href="https://{{extra.website}}" class="btn btn-sm btn-light" target="_blank">{{extra.website}}</a>
        </div>

    {% endif %}

    {% if extra.github %}

        <div class="d-inline-block text-secondary">
            <a href="https://github.com/{{extra.github}}" class="btn btn-sm btn-light"
               target="_blank">{{extra.github}} <i class="fab fa-github"></i></a>
        </div>

    {% endif %}

    {% if extra.twitter %}

        <div class="d-inline-block text-secondary">
            <a href="https://twitter.com/{{extra.twitter}}" class="btn btn-sm btn-light"
               target="_blank">{{extra.twitter}} <i class="fab fa-twitter"></i></a>
        </div>

    {% endif %}

    {% if extra.instagram %}

        <div class="d-inline-block text-secondary">
            <a href="https://instagram.com/{{extra.instagram}}" class="btn btn-sm btn-light"
               target="_blank">{{extra.instagram}} <i class="fab fa-instagram"></i></a>
        </div>

    {% endif %}

    {% if extra.youtube %}

        <div class="d-inline-block text-secondary">
            <a href="https://youtube.com/{{extra.youtube}}"
               class="btn btn-sm btn-light" target="_blank">{{extra.youtube}}</a>
        </div>

    {% endif %}

    {% if extra.email %}

        <div class="d-inline-block text-secondary">
            <a href="mailto:{{extra.email}}"
               class="btn btn-sm btn-light" target="_blank">почта <i class="far fa-envelope"></i></a>
        </div>

    {% endif %}

    {% if rss %}

        <div class="d-inline-block text-secondary">
            <a href="{{siteurl}}/rss.xml" class="btn btn-sm btn-light" target="_blank">rss  <i class="fas fa-rss"></i></a>
        </div>

    {% endif %}
</div>
{% endmacro social_list %}

{% macro frontmatter(classes, date, word_count, read_time) %}
<div class="frontmatter mb-3 font-weight-bold">
    <div class="d-inline-block">
        <time class="article_time" datetime="{{date}}">{{ date | date(format="%B %d, %Y") }}</time>
    </div>

    <span class="text-secondary">-</span>

    <div class="d-inline-block"> слов {{word_count}}</div>

    <span class="text-secondary">-</span>

    <div class="d-inline-block"> {{read_time}} мин</div>

</div>
{% endmacro frontmatter %}
