{% macro mini_logo(classes, title, siteurl) %}
<div id="logo" class="p-4">
    <a href="{{siteurl}}" title="Вернуться на главную страницу">
        <i class="logo__icon fas fa-chevron-left mr-1"></i> {{title}}
    </a>
</div>
{% endmacro mini_logo %}

{% macro social_list(classes, bsize, extra, rss, siteurl) %}
<div>
    {% if extra.website %}
        <div class="d-inline-block text-secondary">
            <a href="https://{{extra.website}}" class="btn btn-sm btn-light"
               title="{{extra.website_button_hint}}"
               target="_blank">{{extra.website}}
                <img src="/icons/link.svg" alt="сайт" class="ml-1">
            </a>
        </div>
    {% endif %}

    {% if extra.github %}
        <div class="d-inline-block text-secondary">
            <a href="https://github.com/{{extra.github}}" class="btn btn-sm btn-light"
               title="{{extra.github_button_hint}}"
               target="_blank">{{extra.github}}
                <img src="/icons/github.svg" alt="github">
            </a>
        </div>
    {% endif %}

    {% if extra.twitter %}
        <div class="d-inline-block text-secondary">
            <a href="https://twitter.com/{{extra.twitter}}" class="btn btn-sm btn-light"
               title="{{extra.twitter_button_hint}}"
               target="_blank">twitter
               <img src="/icons/twitter.svg" alt="twitter" class="ml-1">
            </a>
        </div>

    {% endif %}
    {% if extra.instagram %}

        <div class="d-inline-block text-secondary">
            <a href="https://instagram.com/{{extra.instagram}}" class="btn btn-sm btn-light"
               title="{{extra.instagram_button_hint}}"
               target="_blank">
                {{extra.instagram}} <img src="/icons/instagram.svg" alt="instagram" class="ml-1">
            </a>
        </div>

    {% endif %}

    {% if extra.youtube %}
        <div class="d-inline-block text-secondary">
            <a href="https://youtube.com/{{extra.youtube}}" title="{{extra.youtube_button_hint}}"
               class="btn btn-sm btn-light" target="_blank">{{extra.youtube}}</a>
        </div>
    {% endif %}

    {% if extra.email %}
        <div class="d-inline-block text-secondary">
            <a href="mailto:{{extra.email}}" title="{{extra.email_button_hint}}"
               class="btn btn-sm btn-light" target="_blank">почта
                <img src="/icons/mail.svg" alt="e-mail" class="ml-1"></a>
        </div>
    {% endif %}

    {% if rss %}
        <div class="d-inline-block text-secondary">
            <a href="{{siteurl}}/rss.xml" class="btn btn-sm btn-light vertical-align" title="Посмотреть RSS-ленту"
               target="_blank">rss <img src="/icons/rss.svg" alt="rss" class="ml-1">
            </a>
        </div>
    {% endif %}
</div>
{% endmacro social_list %}

{% macro frontmatter(classes, date, word_count, read_time) %}
<div class="frontmatter font-weight-bold">
    <div class="d-inline-block">
        <time class="article_time" datetime="{{date}}">{{ date | date(format="%B %d, %Y") }}</time>.
    </div>

    <div class="d-inline-block article_time"> Время чтения &mdash; {{read_time}} мин.</div>
</div>
{% endmacro frontmatter %}

{% macro yandex_webmaster(classes, extra) %}
    {% if extra.yandex_webmaster_verification_code %}
        <!-- Yandex.Webmaster Verification Code -->
        <meta name="yandex-verification" content="{{ extra.yandex_webmaster_verification_code }}" />
    {% endif %}
{% endmacro yandex_webmaster %}

{% macro yandex_metrika(classes, extra) %}
{% if extra.yandex_metrika_counter %}
<!-- Yandex.Metrika counter -->
<script type="text/javascript" >
    (function(m,e,t,r,i,k,a){m[i]=m[i]||function(){(m[i].a=m[i].a||[]).push(arguments)};
        m[i].l=1*new Date();k=e.createElement(t),a=e.getElementsByTagName(t)[0],k.async=1,k.src=r,a.parentNode.insertBefore(k,a)})
    (window, document, "script", "https://mc.yandex.ru/metrika/tag.js", "ym");

    ym({{extra.yandex_metrika_counter}}, "init", {
        clickmap:true,
        trackLinks:true,
        accurateTrackBounce:true
    });
</script>
<noscript><div><img src="https://mc.yandex.ru/watch/{{extra.yandex_metrika_counter}}"
                    style="position:absolute; left:-9999px;" alt="" /></div></noscript>
<!-- /Yandex.Metrika counter -->
{% endif %}
{% endmacro yandex_metrika %}
