{% extends "base.html" %}

{% import "macros.html" as macros %}

{% block page_title %}
<title>{{ page.title }} | {{ config.title }}</title>
{% endblock page_title %}

{% block meta_tag_description %}
<meta name="Description" content="{{ page.description }}">
{% endblock meta_tag_description %}

{% block open_graph_description %}
<meta property="og:description" content="{{ page.description }}"/>
{% endblock open_graph_description %}

{% block content %}
<nav id="overlord" class="overlord">
  {{ macros::mini_logo(classes="", title=config.title, siteurl=config.base_url) }}
</nav>

<section class="container">
  {% block post %}
  <h1 class="page-title mt-0">
    {{ page.title }}
  </h1>
  {{ macros::frontmatter(classes="frontmatter_page", date=page.date, word_count=page.word_count,
  read_time=page.reading_time) }}

  <div class="mb-3 mt-3">
    {% for tag in page.taxonomies['tags'] %}
      <a class="tag text-secondary me-1" href="/tags/{{tag}}/" title="Посмотреть все посты с тэгом '{{tag}}'">#{{tag}}</a>
    {% endfor %}
  </div>

  {{ page.content | safe }}
  {% endblock post %}
</section>
{% endblock content %}
