{% extends "base.html" %}
{% import "macros.html" as macros %}

{% block content %}
<nav id="overlord" class="overlord">
  {{ macros::mini_logo(classes="", title=config.title, siteurl=config.base_url) }}
</nav>

<section class="container">
  {% block post %}
  <h1 class="page-title mt-0">
    {{ page.title }}
  </h1>
  {{ macros::frontmatter(classes="frontmatter_page", date=page.date, word_count=page.word_count,
  read_time=page.reading_time) }}

  <div class="mb-4">
    {% for tag in page.taxonomies['tags'] %}
      <a class="btn btn-tiny btn-light" href="/tags/{{tag}}/">{{tag}}</a>
    {% endfor %}
  </div>

  {{ page.content | safe }}
  {% endblock post %}
</section>
{% endblock content %}
